html {
    overflow: hidden;
} 

/*-----モーダル------*/
.modal {
    --bs-modal-width: 60vw !important;
}

.modal-body p {
    font-size: 1.1rem !important;
    line-height: 2.5rem;
}


/* -------＋ボタン -----------*/
.btn_plus {
    background-color: 344465;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 0;
    
}

.btn_plus:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

/* ---- トップコンテンツ -----*/
.top_content {
    width: 95vw;
    height: 19vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem auto 0;
}

.top_content_left {
    width: 25vw;
    height: 19vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top_content_left hr {
    width: 20vw;
}

.top_content_left_bottom {
    width: 23vw;
    height: 10vh;
}

.top_content_left_bottom p {
    font-size: 1.3rem;
    margin: 0;
        
}


.top_content_right {
    display: flex;
    width: 70vw;
    height: 19vh;
}

.taskbox {
    width: 33vw;
    height: 15vh;
    border: 1px gray solid;
    padding: 0.3rem;
}

.taskbox h1 {
    font-size: 1.5rem;
    margin-left: 0.5rem;
}

.taskbox p {
    font-size: 1.1rem;
}

.top_content_right button {
    margin: auto 0 0 0;
}


/* ----- 授業 -------*/
.middle_content {
    width: 95vw;
    height: 41vh;
    margin: 0 auto;
}

#btn_class {
    margin-left: 20vw;
    margin-bottom: 0.1rem;
}

.middle_content p {
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 0;
    margin-left: 3rem;
    display: inline;
}

.class_table {
    width: 100%;
    height: 90%;
}

.class_table td{
    border: 1px solid gray;
    font-size: 1.4rem;
    text-align: center;
    vertical-align: middle;
}

.td_period {
    width: 6vh;
    background-color: rgba(34,44,65,0.1);
}

.td_subject {
    width: 5rem;
}

.td_content {
    width: 15rem;
}

.td_understanding {
    width: 6vh;
}

.td_comment {
    font-size: 1.2rem !important;
}

.td_btn {
    width: 2.5rem;
    padding: 0 0 0 auto;
    border: none !important;
}


/*-----------日記---------------*/
.bottom_content {
    display: flex;
    width: 95vw;
    height: 35vh;
    margin: 0 auto;
}

.bottom_content_left {
    width: 18vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 1rem; */
}

.bottom_content_left_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0.5rem;
}

.bottom_content_left_top h1 {
    font-size: 1.8rem;
    margin: 0.5rem;
}

.mood_img_box {
    width: 10vw;

}

.mood_img_box img {
    width: 100%;
}

.check_box {
    width: 1rem;
}

.check_box img {
    width: 100%;
}

.bottom_content_right {
    width: 77vw;
    padding-top: 2rem;
}

.diary_box {
    display: flex;
    flex-direction: row;
    width: 77vw;
    height: 23vh;
    margin-top: 0.5rem;
}

.diary_box_left {
    width: 77%;
    border: 1px gray solid;
    padding: 0 0.5rem;
    font-size: 1.2rem;
}

.diary_text {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 98.5%, #000 100%);
    background-repeat: repeat-y;
    background-size: 100% 25%;
    line-height: 225%;
}

.diary_box_right {
    width: 23%;
    border: 1px gray solid;
    position: relative;
    padding: 0.5rem;
}

.diary_box_right p {
    font-size: 1.2rem;
}

#btn_teacher_comment {
    position: absolute;
    right: 0.3rem;
    bottom: 0.3rem;
}


/* ------------------ 生徒一覧 ----------------- */

.mood_img_box_all {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #000;
}

.mood_img_box_all img {
    width: 100%;
    
}
